<%- include ('layouts/main') %>
  <!-- Connection of admin header -->
  <%- include ('layouts/aheader') %>
    <%- include ('layouts/footer') %>

      <h2 class="text-center">Add New Category</h2>
      <div class="container">
        <div class="text-left">
          <a class="btn btn-dark mb-2" href="/category/get"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg></a>
        </div>

        <form action="/category/create" method="post">
          <div class="form-group mt-4">
            <label for="exampleInputName">Category</label>
            <input type="text" name="category" class="form-control" placeholder="New Category" required>
          </div>
          <div class="text-left mt-2">
            <button type="submit" class="btn-block btn btn-success mt-4" <a href=""> Save</button>
            <a href="/category/get" class="btn-block btn btn-danger mt-4">Cancel</a>

          </div>
        </form>
      </div>